*{
    box-sizing:border-box;
}

nav {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background-color: #181818;
    padding: 1rem;
    border-radius: 0 0 25px 25px;
}

.search-input {
    background-color: white !important;
    color: black;
}

.search-input::placeholder {
    color: #767676 !important;
}

.albums-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.album {
    width: 225px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.album img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

/* Meiyao's upload CSS */
/* General Styling */
h1 {
    font-size: 2rem;
    line-height: 1rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    color: grey;
}

main {
    margin: 1.5rem;
}

.instructions {
    margin-bottom: 2rem;
}

/* Content */

.card {
    /* flexbox */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%; /* Take up available space */

    /* styling */
    padding: 2rem;
    border-radius: 20px;
    background-color: #181818;
 }

 /* Upload from Local Device */
.upload-box {
    /* flexbox */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%; /* Take up available space */
    width: 100%;

    /* styling */
    padding: 2rem;
    border-style: dashed;
    border-color: #EBEF2F;
    border-radius: 20px;
    background-color: #242424;
}

.upload-box p {
    text-align: center;
}

.material-symbols-outlined {
    font-size: 4rem;
    color: #EBEF2F;
}

.upload-button {
    background: none;
    padding: 0.2rem 0.6rem;
    border-radius: 20px;
    border-color: #EBEF2F;
}

/* Upload from YouTube */
.link-box {
    margin: 2rem 0 2rem 0;
}


.form-comtrol {
    border-color: #EBEF2F;
    border-radius: 20px;
    background: none;
    width: 100%;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
}

/* An "OR" divider for visual hierarchy */
.line-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust space between text and lines */
  }
  
  .line {
    flex-grow: 1;
    height: 0.1px;
    background-color: grey;
    margin-bottom: 0.9rem;
  }

/* Upload from microphone */
.record-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 20px;
}

.record-box .click-text {
    display: none;
}


/* Responsive Layout for upload */
@media (min-width: 768px)
{
    /* Amelia's index page */
    .albums-container {
        margin: 0rem 7rem;
    }

    /* Meiyao's upload page */
    .record-box .press-text {
        display: none;
    }
    .record-box .click-text {
        display: block;
    }
    .material-symbols-outlined {
        font-size: 6rem;
        color: #EBEF2F;
    }
    .upload-box {
        padding: 4rem;
    }
}
