/* amelia */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* button */
.badge-pill {
    color: black;
    background-color: #EFC52F;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 15px 40px;
    font-size: 15px;
}
  
.badge-pill:hover {
    background-color: darkgoldenrod;
}

/* homepage */
.homepageCover {
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.albumName {
    margin-top: 0px;
}